.v-btn {
  height: 36px;
  padding: 0 16px;

  vertical-align: middle;

  &.--large {
    height: 42px;
    padding: 0 18px;
  }

  &.--small {
    height: 30px;
    padding: 0 14px;
  }

  &.--mini {
    height: 24px;
    padding: 0 12px;
  }

  &.--primary {
    color: #fff;
    background-color: var(--primary);
  }

  &.--info {
    color: #fff;
    background-color: var(--info);
  }

  &.--success {
    color: #fff;
    background-color: var(--success);
  }

  &.--warning {
    color: #fff;
    background-color: var(--warning);
  }

  &.--danger {
    color: #fff;
    background-color: var(--danger);
  }
}
