$primary: #1867c0;
$info: #00bcd4;
$success: #4caf50;
$warning: #fb8c00;
$danger: #ff5252;
$weight: 10%; // 深浅色比重

:root {
  // 主色
  --primary: #{$primary};
  --primary-dark: #{mix(#000, $primary, $weight)};
  --primary-light: #{mix(#fff, $primary, $weight)};
  // 信息色
  --info: #{$info};
  --info-dark: #{mix(#000, $info, $weight)};
  --info-light: #{mix(#fff, $info, $weight)};
  // 成功色
  --success: #{$success};
  --success-dark: #{mix(#000, $success, $weight)};
  --success-light: #{mix(#fff, $success, $weight)};
  // 警告色
  --warning: #{$warning};
  --warning-dark: #{mix(#000, $warning, $weight)};
  --warning-light: #{mix(#fff, $warning, $weight)};
  // 危险色
  --danger: #{$danger};
  --danger-dark: #{mix(#000, $danger, $weight)};
  --danger-light: #{mix(#fff, $danger, $weight)};

  // 主题色, 除了拥有自身辅助色的组件外的颜色
  --theme-color: #333;
  --theme-bg: #fff;

  --radius-large: 4px;
  --radius-medium: 3px;
  --radius-small: 2px;
  --radius-mini: 2px;
}
